<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Complete Solution</h2>
                <hr class="light">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis ullamcorper eros. Donec eu
                    ex quis quam suscipit facilisis ac at tellus. Quisque rutrum nunc elit. Nullam vitae pharetra eros.
                    Integer a posuere nunc, hendrerit tincidunt enim.
                </p>
            </div>
        </div>
    </div>
</section>
