<section class="bg-primary right" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Complete Solution</h2>
                <hr class="light">
                <p>
                    Founded in 2015, the Directors of TechFM not only recognised the ever increasing
                    demand for technology based services; they recognised the desperate need for a
                    technology based service business that could deliver on what it promised. The
                    foundations of the TechFM business are to deliver what you promise and promise
                    what you can deliver.
                </p>
                <p>
                    Within the first 12 months of trading TechFM have worked closely with many
                    medium to large consultants,  building owners and facilities managers to provide
                    technology based solutions for their facilities. Be it electrical, level 2 ASP,
                    audio visual, digital media, security, PA, phone/VoIP/Internet or general
                    facilities management including plumbing and air-conditioning TechFM is the one
                    stop shop you have been looking for.
                </p>
                <p>
                    The success of the first 12 months is only proof that TechFM has a much sort
                    after technology services solution. Our vision at TechFM is to become a partner
                    of choice for our clients and to build long term relationships where our quality
                    service is remembered long after the price is forgotten.
                </p>
                <p>
                    To access these services please feel free to contact 1300 TECHFM twenty four
                    hours a day, seven days a week.
                </p>

            </div>
        </div>
    </div>
</section>
