<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 text-center">
        <div class="service-box" data-toggle="popover" data-placement="top" title="the title" data-trigger="hover" data-html="true"
          data-content="
            <ul>
              <li>Integrated AV</li>
              <li>Digital Media</li>
              <li>Video Conferencing</li>
              <li>MATV / Digital Modulation</li>
            </ul>">
          <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Audio Visual</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 text-center">
        <div class="service-box" data-toggle="popover" data-placement="top" title="the title" data-trigger="hover" data-html="true"
          data-content="
            <ul>
              <li>CCTV</li>
              <li>Alarms</li>
              <li>Intercoms</li>
            </ul>
        ">
          <i class="fa fa-4x fa-video-camera wow bounceIn text-primary"></i>
          <h3>Security</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 text-center">
        <div class="service-box" data-toggle="popover" data-placement="top" title="the title" data-trigger="hover" data-html="true"
          data-content="<ul>
              <li>Data</li>

            <li>Telco</li>

            <li>Networking</li>
        </ul>">
          <i class="fa fa-4x fa-wifi wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Communications</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 text-center">
        <div class="service-box" data-toggle="popover" data-placement="top" title="the title" data-trigger="hover" data-html="true"
          data-content="
            <ul>
              <li>New/Existing Homes</li>
              <li>Bars/Cafes</li>
              <li>Overhead</li>
              <li>Underground</li>
              <li>Metering</li>
              <li>Defects</li>
              <li>Switchboards</li>
            </ul>">
          <i class="fa fa-4x fa-plug wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Electrical Level 2 ASP</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 text-center">
        <div class="service-box" data-toggle="popover" data-placement="top" title="the title" data-trigger="hover" data-html="true"
          data-content="
            <ul>
              <li>HVAC</li>
              <li>Plumbing</li>
              <li>Electrical</li>
              <li>BMS Integration</li>
              <li>All-purpose maintenance</li>
            </ul>
          ">
          <i class="fa fa-4x fa-building-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Facility Management</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 text-center">
        <div class="service-box" data-toggle="popover" data-placement="top" title="the title" data-trigger="hover" data-html="true"
          data-content="
            <ul>
              <li>Service Agreements</li>
              <li>24 Hour call outs</li>
            </ul>
          ">
          <i class="fa fa-4x fa-life-ring wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>24/7 Support</h3>
        </div>
      </div>
    </div>
  </div>
</section>
